<header class="header">
  <div class="header__centering">
    <a class="header__logo"
       [routerLink]="'/'"
       title="Main page"
    >
      <app-icon
        class="logo__icon"
        [staticSrc]="logoUrl"
        size="lg"
      ></app-icon>
    </a>

    <ul class="header__icons-list">
      <li>
        <app-button
          class="icons-list__icon"
          buttonType="icon"
          [routerLink]="'/settings'"
          title="Settings"
        >
          <app-icon
            icon="settings"
            size="lg"
          ></app-icon>
        </app-button>
      </li>
    </ul>
  </div>
</header>
