article,
form {
  width: 100%;
  @include resolution_desktop-and-up {
    font-size: calc(0.2vw + 13px);
  }
  @include resolution_tablet {
    font-size: 15px;
  }
  @include resolution_smartphone {
    font-size: 14px;
  }

  ul,
  ol {
    &.list {
      width: 100%;

      li {
        width: 100%;
        position: relative;

        .alias {
          vertical-align: top;
        }
      }

      li + li {
        margin-top: .8ex;
      }
    }
  }

  .list.list--bulletted {
    li {
      padding-left: 1.8ex;

      &:before {
        content: " ";
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color-base-300;
        position: absolute;
        left: 0;
        top: 1ex;
        z-index: 0;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 100%;
    color: inherit;
    font-weight: $font-weight-medium;
  }

  h1 {
    font-size: calc(0.2vw + 25px);
  }

  h2 {
    font-size: calc(0.2vw + 20px);
  }

  h3 {
    font-size: calc(0.2vw + 16px);
  }

  h4 {
    font-size: calc(0.2vw + 14px);
  }

  h5 {
    font-size: calc(0.2vw + 13px);
  }

  h6 {
    font-size: $font-size;
  }

  * + h1,
  * + h2 {
    margin-top: 2ex;
  }

  * + h3,
  * + p,
  * + .list {
    margin-top: 1ex;
  }

  h3 + *,
  h4 + * {
    margin-top: .8ex;
  }
}

article + article,
h1 + article,
h2 + article {
  margin-top: 30px;
}
