@import "../../../../assets/sass/dependecies";

:host {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z('header');

  &,
  .header,
  .header__centering {
    width: 100%;
    height: $header-height;
  }
}

.header {
  background-color: $color-white;
  color: $color-black;
  box-shadow: $box-shadow;

  &__centering {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: $viewport-min-w;
    max-width: $viewport-max-w;
    padding: 0 $padding-medium;
  }

  &__icons-list {
    padding-left: $padding-regular;

    li {
      display: inline-block;
    }

    li + li {
      margin-left: $padding-regular;
    }
  }
}
