@import "../../../assets/sass/dependecies";

@mixin page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  color: $color-white;
}

@mixin page-title {
  font-size: 2em;
  color: $color-black;
  line-height: 1;
}

@mixin page-container {
  padding: 0 $ui-base-unit;
}

@mixin page-panel {
  background-color: $color-base-200;
  border-radius: $border-radius-medium;
  text-align: center;
  padding: $ui-base-unit;
}


