<div class="home">
  <div class="container home__container">
    <article class="col-12 home__panel">
    <ul class="list">
      <li *ngFor="let animal of animalsList | slice: 0: 3"
          [ngTemplateOutlet]="songLyrics"
          [ngTemplateOutletContext]="{ a: animal }"
      ></li>
    </ul>
    </article>
  </div>
</div>

<ng-template #songLyrics let-a="a">
  <p>Old MACDONALD had a farm</p>
  <p>E-I-E-I-O</p>
  <p>And on his farm he had a <app-name [name]="a.name"></app-name></p>
  <p>E-I-E-I-O</p>
  <p>With a <app-sound>{{ a.sound }} {{ a.sound }}</app-sound> here</p>
  <p>And a <app-sound>{{ a.sound }} {{ a.sound }}</app-sound> there</p>
  <p>Here a <app-sound>{{ a.sound }}</app-sound>, there a <app-sound>{{ a.sound }}</app-sound></p>
  <p>Everywhere a <app-sound>{{ a.sound }} {{ a.sound }}</app-sound></p>
  <p>Old MacDonald had a farm</p>
  <p>E-I-E-I-O</p>
</ng-template>
