@import "src/assets/sass/dependecies";

.page {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: $color-white;

  &__container {
    padding: 0 $ui-base-unit;
  }

  &__panel {
    background-color: $color-base-200;
    border-radius: $border-radius-medium;
    text-align: center;
    padding: $ui-base-unit;
  }
}
